extends ../partials/header
block content
  .container
    if (user)
      if(user.profile_pic)
        #frame
          img(src="#{user.profile_pic}" alt="profile pic")
      h2= user.username
      h3 Reviews
      if (reviews)
        each review in reviews
          h4=review.name
          div= review.rating +"/5"
          div= review.content
      else
        div This user has no reviews
      if (owner)
        button Edit profile
        //should remove .hidden from form
        form(action="/users/#{user.id}?_method=PUT",method="POST")
          input(type="text",value="#{user.username}",name="user[username]")
          input(type="text",value="#{user.profile_pic}")
          input(type="password", placeholder="password",name="user[password]")
          input(type="password",placeholder="confirm password",name="confirm")          
          input(type="submit")
        form(action="/users/#{user.id}?_method=DELETE",method="POST",)
          input(type="submit",value="Delete Profile")