extends ../partials/header
block content
  .container
        .row
          .col-xs-1
          #swagShowBody.col-xs-10.text-center.body
            h1= user.username
            if (user.email)
              h4=user.email  
            if (user.profile_pic)
              img#avatarBig(src='#{user.profile_pic}')
            if (owner)
              br
              a(href="/users/#{user.id}/edit")
                button.btn-btn
                  b edit my profile

          .col-xs-1
        .row.text-center
          .col-xs-1
          #content.col-xs-10.body
            // review column
            .col-xs-2
            #reviewsColumn.col-xs-8
              // populate one of these for every review with this user id
              if (reviews[0])
                  each review in reviews
                    .row.review
                      // place info column
                      #userInfo.col-xs-5
                        // replace with placeName
                        b= review.name
                        br
                        // replace with first Image from photo table with this id
                        img#placeThumbnail(src='#{review.photo}')
                        br
                        // replace with link to location
                        a(href='/places/#{review.place_id}') More reviews for this location
                      // review column
                      .col-xs-7
                        center
                          b=review.rating+'/5'
                          p=review.content
                          if (owner)
                          br
                          a(href="" class="Edit" id="#{review.id}" data-place="#{review.place_id}") Edit Review 
                          a(href="" class="Delete" id="#{review.id}" data-place="#{review.place_id}") Delete Review 
              else
                h3 This user has no reviews
          .col-xs-2
block scripts
  script(src='/javascripts/editReviews.js')
